img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
div{
background-color: darkmagenta;
margin: 50px;
width: 40%;
display: inline-block;
border-radius: 10px;
box-shadow: 0 0 12px rgba(0,0,0,0.4);
}
body{
    text-align: center;
    background-image:url("bg.jpg") ;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lobster', cursive;
color: white;
text-shadow: 0 0 5px rgba(0,0,0,0.7);
}
a{
background-color: white;
color: mediumblue;
padding: 10px;
display: inline-block;
margin: 20px;
border-radius: 10px;
box-shadow: 0 0 12px rgba(0,0,0,0.4);
text-decoration: none;
transition: 0.5s;
}
a:hover{
color: rgba(0,0,0,0.7);
transform: scale(1.05) translateZ(0);
}